################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet-core/.vs
/aspnet-core/src/Lzez.WeChat.MiniProgram/bin
/aspnet-core/src/Lzez.WeChat.MiniProgram/obj
/aspnet-core/src/Lzez.WeChat.Official/bin
/aspnet-core/src/Lzez.WeChat.Official/obj
/aspnet-core/src/Lzez.WeChat.Official.Abstractions/bin
/aspnet-core/src/Lzez.WeChat.Official.Abstractions/obj
/aspnet-core/src/Lzez.WeChat.Pay.Abstractions/bin
/aspnet-core/src/Lzez.WeChat.Pay.Abstractions/obj
/aspnet-core/src/Lzez.WeChat.Pay.H5/bin
/aspnet-core/src/Lzez.WeChat.Pay.H5/obj
/aspnet-core/src/Lzez.WeChat.Pay.Native/bin
/aspnet-core/src/Lzez.WeChat.Pay.Native/obj
/aspnet-core/src/SuperAbp.WeChat.MiniProgram/bin
/aspnet-core/src/SuperAbp.WeChat.MiniProgram/obj
/aspnet-core/src/SuperAbp.WeChat.Official/bin
/aspnet-core/src/SuperAbp.WeChat.Official/obj
/aspnet-core/src/SuperAbp.WeChat.Official.Abstractions/bin
/aspnet-core/src/SuperAbp.WeChat.Official.Abstractions/obj
/aspnet-core/src/SuperAbp.WeChat.Pay.Abstractions/bin
/aspnet-core/src/SuperAbp.WeChat.Pay.Abstractions/obj
/aspnet-core/src/SuperAbp.WeChat.Pay.H5/bin
/aspnet-core/src/SuperAbp.WeChat.Pay.H5/obj
/aspnet-core/src/SuperAbp.WeChat.Pay.Native/bin
/aspnet-core/src/SuperAbp.WeChat.Pay.Native/obj
